# Dependencies
node_modules

# Nx build output
dist

# Next build artifacts
.next

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Git
.git
.gitignore

# Editor / OS junk
.vscode
.idea
.DS_Store
Thumbs.db

# Tests and coverage
coverage

# Docker
Dockerfile
compose.yaml
